/* External google fonts heare  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

body{
    margin: 0;
    font-family:'Work Sans', sans-serif;;
}
.header{
    background: rgba(255, 144, 14, 0.1);
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}
.nav-link li{
    list-style: none;
    margin-right: 60px;

}
.nav-link{
    display: flex;
}

.header-group{
    text-align: center;
}
#architects-title{
    font-weight: 700;
    font-size: 60px;
}
.header-brand-area p{
    color: gray;
}
.banner-img{
    height: 500px;
    width: 800px;
}


/* Main and Feature section style heare  */
main{
    padding: 150px;
}
.feature-list-area{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 5px;
    column-gap: 5px;
}
.team-text {
    font-size: 45px;
    font-weight: 600;
}
.team-text-area{
    margin-left: 20px;
}


/* Feature Enjoy Section Style heare  */
.feature-enjoy-section{
    margin-top: 100px;
    display: flex;
}
.feature-enjoy-section> div {
    width: 50%;
}
.line-style{
    height: 120px;
    width: 5px;
    background-color: orange;
    margin-right: 3px;
}
.feature-title-area{
    display: flex;
    align-items: center;
}
.feature-title{
    font-weight: 700;
    font-size: 45px;
}
.plane{
    display: grid;
    grid-template-rows: repeat(1,1fr);
}
.plane> div {
    border: 1px solid gray;
    margin: 20px;
    background-color:white;
    border-radius: 5px;
}
.architect-img-area{
    position: relative;
}
.architect-bottom-btn{
    position: absolute;
   bottom: 20px;
    left: 50px;
    width: 300px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: orange;
}
.architect-bottom-btn h1{
    font-weight: 700;
    font-size: 48px;
}

/* Working Expariance Informaton  style heare */
.working-info-section > h1{
    font-weight: 700;
    font-size: 45px;
}
.exparience-info{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    
}
.exparieance{
    border: 1px solid orange;
    text-align: center;
   background-color: white;
   transition: all 2s;
}
.exparieance:hover{
    background-color: orange;
    scale: 1.2;
    cursor: pointer;
}
.exparieance h1{
   font-size: 45px;
}
.exparieance img {
    margin-top: 5px;
}
.hover-hide{
    display: none;
}
/* Sponser style heare  */
.sponspor-img{
    position: relative;

}
.sponspor{
    display: grid;
    grid-template-columns:repeat(5,1fr);
}

/* CMS Website builder style  */
.cms-web-builder{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
}
.cms-style{
    background-color: gainsboro;
    margin-left: 20px;
    text-align: center;
    border-radius: 5px;
    transition: all 2s;
    cursor: pointer;
}
.cms-style:hover{
    box-shadow: 10px 10px 10px 10px gray;
}
.cms-img-div{
    width: 200px;
    height: 200px;
  
}
.cms-img-div img {
    height: 100%;
    width: 100%;
    margin-left: 40px;
    padding: 20px;
  
}
/* Footer style heare  */

footer{
    padding: 150px;  
    
}
.footer-style{
    height: 60px;
    text-align: center;
}
.footer-style p{
    padding-top: 20px;
}


/* ------------------------------------ 
Custom Css class Common style heare:- 
----------------------------------------*/
.text-gray{
    color: gray;
}
.text-orange{
    color: orange;
}
.font-size{
    font-size: 45px;
}
.text-center{
    text-align: center;
}
.btn-warning{
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    background-color: orange;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}



/*----------------------- 
Media Quary add website  
------------------------*/


 /* Mobile Device :// */
 @media only screen and (max-width:576px) {
    .sponspor,.exparience-info,.team-img,.cms-web-builder{
        grid-template-columns:repeat(1,1fr)
    }
    .feature-list-area,.navigation,.nav-link,.feature-enjoy{
        flex-direction: column;
    }
    .architect-img{
        width: 200px;
    }
    .cms-img-div{
        margin-right: 131px;
    }
    .cms-style{
        margin-top: 41px;
    }
    .architect-bottom-btn{
        position: relative;
        left: 0;
        width: 150px;
    }
    .banner-img{
        width: 100%;
    }
    .sponspor-img,.exparieance{
        margin-bottom: 15px;
    }
 }